/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
     background-color: black;
     font-family: Arial, sans-serif;
     -webkit-font-smoothing: antialiased;
     color: white;
 }



 .logo {
    color: white;
     display: flex;
     /* justify-content: space-between; */
 }

.showcase {
    background-image: url(https://i.imgur.com/FuFnfMi.jpg);
     background-size: 100%;
     position: relative;
     box-shadow: inset 60px 50px 60px black, inset -60px -50px 60px black;
}

 .signup-form-container {
     color: white;
     height: 700px;
     background: rgba(0, 0, 0, 0.6);
 }

 .login-form-container {
     height: 700px;
     background: rgba(0, 0, 0, 0.6);
     display: flex;
     flex-direction: row;
     justify-content: center;
     text-align: center;
 }

 ::placeholder {
     color: rgb(167, 167, 167);
 }
 
 .signup-form-box {
     position: absolute;
     margin: auto;
     display: flex;
     flex-direction: column;
     align-content: center;
     text-align: center;
     margin-top: 3rem;
     justify-content: center;
 }
 
 .login-form-box {
     color: white;
     position: absolute;
     background-color: black;
     opacity: 0.85;
     width: 500px;
     display: flex;
     flex-direction: column;
     align-content: center;
     text-align: center;
     margin-top: 10rem;
     justify-content: center;
 }

 #form-title {
     font-size: 3.5rem;
     font-weight: 600;
     line-height: 1.1;
     padding: 0px 350px;
     margin-bottom: 0px;
 }

 .login-buttons {
    display: flex;
 }

 .btn-demo {
    background-color: red;
    border-radius: 3px;
    height: 40px;
    width: 95px;
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    cursor: pointer;
 }

 .btn-login {
    background-color: red;
    border-radius: 3px;
    height: 40px;
    width: 95px;
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    cursor: pointer;
 }

.signup-form {
    display: flex;
    justify-content: center;
}

.login-form {
    border-radius: 5px;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
}

 .signup-input {
    border-radius: 3px;
    border-style: none;
    height: 60px;
    width: 380px;
    margin: 5px;
    padding-left: 20px;
    font-size: 16px;
}

 .login-form > .login-input {
    border-radius: 3px;
    border-style: none;
    display: flex;
    background-color: rgb(60, 59, 59);
    color: white;
    justify-content: center;
    height: 50px;
    margin: 0px 60px;
    padding-left: 20px;
    font-size: 16px;
}

.login-form-box > .session-submit {
    background-color: red;
    border-radius: 3px;
    border-style: none;
    height: 50px;
    margin: 0 60px;
    color: white;
    text-align: center;
    /* margin-left: 35%; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    cursor: pointer;
}

.signup-form-box > .session-submit {
    background-color: red;
    border-radius: 3px;
    border-style: none;
    height: 50px;
    /* margin: 0 60px; */
    color: white;
    width: 300px;
    text-align: center;
    margin-left: 39.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.display-errors {
    color: orange;
    font-weight: bold;
}

.display-errors > ul {
    list-style-type: none;
}

.signup-message {
    display: inline-block;
    padding: 20px;
    margin-bottom: 40px;
}

.signup-header {
    display: flex;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(7, 7, 7);
    padding: 10px 30px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 30;
}


.nav-bar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-bar-left-home {
    padding: 5px;
    margin: 5px;
    margin-right: 15px;
    margin-left: 25px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.nav-bar-left-genres {
    padding: 5px;
    margin: 5px 15px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.nav-bar-left-list {
    padding: 5px;
    margin: 5px 15px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.nav-bar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-bar-right-search {
    padding: 5px;
    margin: 5px;
    margin-right: 15px;
    margin-left: 25px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.nav-bar-right-logout {
    padding: 5px;
    margin: 5px;
    margin-right: 15px;
    margin-left: 25px;
    font-size: 17px;
    font-weight: bold;
    background-color: red;
    border-radius: 3px;
    height: 35px;
    width: 95px;
    text-align: center;
    cursor: pointer;
}