.search {
    display: flex;
    flex-direction: column;
    border-width: 3px;
    border-color: white;
    background-color: black;
    z-index: 100;
    margin-left: 62rem;
    margin-top: 23px;
}

.search-input {
    display: flex;
    background-color: black;
    padding: 3px 3px 3px 9px;
    color: white;
    width: 300px;
}

.error-message {
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-top: 15rem;
}