.selected-nav {
    color: white;
}

.home-show-display {
    display: block;
    width: 100%;
    height: 85vh;
    /* position: relative; */
}

.home-video {
    object-fit: fill;
    margin-top: 60px;
    max-height: 85vh;
}

.random-video-title {
    color: white;
    font-size: 45px;
    position: relative;
    bottom: 35vh;
    margin-left: 50px;
    width: 208px;
    font-weight: 800;
}  

.play-button {
    position: relative;
    bottom: 35vh;
    margin-left: 50px;
    font-size: 20px;
    color: white;
    padding: 5px;
    width: 60px;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
}