
.main-video-container {
    position: relative;
}

.main-video-box {
    display: flex;
}

.main-video {
    /* display: flex; */
    width: 100vw;
    height: 100vh;
    object-fit: fill;
}

.row-videos {
    display: flex;
    flex-direction: column;
}

.row-rock-videos {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.row-pop-videos {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-bottom: 50px;
}

.row-alternative-videos {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.video-info {
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.genre-title {
    margin: 5px;
    margin-left: 30px;
    font-size: 25px;
    font-weight: 800;
    border-width: 5px;
    margin-top: 6rem;
}

.video-hover {
    /* overflow: hidden; */
    width: 360px;
    height: 270px;
    margin-right: 15px;
    transition: transform .2s;
}

.video-hover:hover {
    transform: scale(1.25);
}

.list-index-button {
    margin-left: -64px;
    margin-top: 180px;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    color: white;
    background-color: rgba(133, 133, 133, 0.6);
    border-radius: 50%;
    border: 1.8px solid white;
    position: absolute;
    /* display: none; */
}


.video-info-title {
    font-weight: bold;
}

.video-info-value {
    font-weight: normal;
}

.video-info-separator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 38px;
}

.grid-container-search {
    margin-top: 100px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
}

.grid-container {
    margin-left: 1rem;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
}

.video-hover-catalog {
    /* overflow: hidden; */
    display: flex;
    width: 270px;
    height: 180px;
    transition: transform .2s;
}

.video-hover-catalog:hover {
    transform: scale(1.15);
}
